/* Custom CSS */

/* Modalfenster */
.modal-xl {
    max-width: 70%;
}

/* Tabelle im Modal */
#movieresult {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#movieresult th, #movieresult td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

#movieresult thead tr {
    background-color: #5c15a2;
    color: #fff;
}

#movieresult tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Schließen-Schaltfläche */
.close {
    color: #007bff;
}

/* Sucheingabe und Suchen-Schaltfläche */
#search {
    border-radius: 5px;
    padding: 10px;
}

.btn-search {
    border-radius: 5px;
    margin-left: 10px;
}

/* Favoriten anzeigen-Schaltfläche */
.btn-favorites {
    border-radius: 5px;
    margin-left: 10px;
    background-color: #28a745;
    color: #fff;
}
/* Poster in der Favoritenliste */
#favoritesList img {
    max-width: 90%; /* Ändern Sie dies entsprechend Ihrer gewünschten Größe */
    max-height: 90%; /* Ändern Sie dies entsprechend Ihrer gewünschten Größe */
}
/* Entfernen des Borders für das Modalfenster */
.modal-content {
    border: none !important;
}
/* In deiner CSS-Datei, z.B., styles.css */

#favoritesModal .modal-content {
    background-color: #a8a8a8;
}
/* In deiner CSS-Datei, z.B., styles.css */

#favoritesList li {
    background-color: #8c9287;
}
